<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hanyuweb.mapper.SkuMapper">

	<select id="select_spu_by_pp_id" resultType="cn.hanyuweb.bean.T_MALL_PRODUCT">
		select * from T_MALL_PRODUCT where pp_id=#{pp_id} and flbh2=#{class_2_id}
	</select>
	<insert id="insert_sku" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into T_MALL_SKU(
			shp_id,
			kc,
			jg,
			sku_mch,
			kcdz
		) values(
			#{shp_id},
			#{kc},
			#{jg},
			#{sku_mch},
			#{kcdz})
	</insert>
	<insert id="insert_sku_attr_value" parameterType="cn.hanyuweb.bean.T_MALL_SKU_ATTR_VALUE">
		insert into T_MALL_SKU_ATTR_VALUE(
			shxm_id,
			shxzh_id,
			shp_id,
			sku_id
		) values
		<foreach collection="list" item="sku_av" separator=",">
			(#{sku_av.shxm_id},#{sku_av.shxzh_id},#{shp_id},#{sku_id})
		</foreach>
		
	</insert>
</mapper>